html { 
    background: url("../img/gym1.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%; 
        margin: 0;

    }

    body{
        background-color: transparent;
        
        font-family: "collegiateHeavyOutlineMedium";

    }
.navbar{
    padding: 0%;
}

/*html{
    height: 100%;
    margin: 0;
}

body {
    background-color: white;
    background-image: url("../img/gym1.jpg");
    height: 100%; 
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
*/


.body-map {

    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
}

.sidebar{
    
    height: 100%;
    width: 100%;
    padding-left: 3%;
    padding-right: 3%;
    background: transparent;
    border: solid;
    padding-bottom: 3%;

}

.sidebar ul li{
    padding-top: 5%;
    color: whitesmoke;
    list-style: none;
    border-bottom: 1px solid;

}

.panel-heading {
    margin-top: 5%;
    color: rgb(46, 45, 46);
    background: whitesmoke;
    opacity: 0.6;
    border-left: solid;
    border-right: solid;
    border-top: solid;
    border-width: 5px;
    padding: 2%;
    width: 100%;
}


.panel-body {
    color: rgb(46, 45, 46);
    background: whitesmoke;
    opacity: 0.6;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    border-width: 5px;
    padding-left: 2%;
    width: 100%;
}

.table{

    color: rgb(46, 45, 46);
    background: whitesmoke;
    opacity: 0.6;
    border: solid;
    border-width: 5px;
    padding: 2%;
    width: 100%;
}


.row{
    width: 100%;
}

@font-face {
    font-family: collegiateHeavyOutlineMedium;
    src: url(../fonts/collegiateHeavyOutlineMedium.ttf);
}
