html { 
    background: url("../img/gym1.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }

    body{
        background: transparent;
    }

/*html{
    height: 100%;
    margin: 0;
}

body {
    background-color: black;
    background-image: url("../img/gym1.jpg");
    height: 100%; 
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
*/
.bg-light {
    background: none!important;
}

.cusmolise{

    width: 100px;
    height: 100px;
   /* position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -20%;*/

}

.body-map {

    height: 100%; 
    height: 100%;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

hr.linetop{
    border-top: 1px solid grey;
    width: 50%;
    margin-top: 10%;
   
}

.col {

    text-align: center;
    color: whitesmoke;
    

}

hr.linebottom{
    border-top: 1px solid grey;
    width: 50%;
    margin-top: 1%;
   
}

