html{
    height: 100%;
    margin: 0;
}

body {

    background-image: url("../img/welcome.jpg");
    height: 100%; 
    height: 100%;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.form-signin {
    padding-right: 55%; 
    
    color: royalblue;
        
    }